:root {
  --button-size: 2.4rem; 
}

*{ 
  margin: auto;
  padding: auto;
  box-sizing: border-box;
}

.container {
  background-color: #1B1B1B;
  border-radius: 0.1rem;
  margin: auto;
  padding: 1rem;
  width: 9%;
  min-width: 13rem;
  height: 23rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.keys {
  margin: auto;
  padding: 0.1rem;
}

header {
  text-align: center;
}

.calculator {
  padding: 0.5rem; 
  min-width: 12.5rem;
  width: 20%;
  margin: auto; 
}

.display {
  height: 2rem;
  width: calc(100% - 0.5rem); 
  text-align: right;
  margin: auto;
}

.button, .operator, .clear {
  display: inline-block;
  margin: 0.25rem; 
  padding: 0.25rem; 
  width: var(--button-size);
  height: var(--button-size); 
  font-size: 0.9rem;
  font-weight: 600;
  background-color: #565656;
  color: aliceblue;
  border: none;
  border-radius: 0.1rem;
}

.button:hover{
  background-color: #565656ac;
}

.operator{
  background-color: #1B544A;
}
.operator:hover{
  background-color: #1b54499e;
}

.clear:hover{
  background-color: #1cdab7a0;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type=text] {
  color: aliceblue;
  font-size: 1.2rem;
  min-width: 5rem;
  width: calc(100% - 0.5rem); 
  height: 4rem;
  margin: 0.2rem;
  border: 0.1rem solid gray;
  background-color: #1B1B1B;
}

.button[value="0"],
.button[value="."] {
  background-color: #1B544A;
}

.button[value="="]{
  background-color: #1CDAB8;
  width: 4.8rem;
}

.button[value="="]:hover{
  background-color: #1cdab7a7;
}

.button[value="0"]:hover,
.button[value="."]:hover {
  background-color: #1B544Aa0;
}

footer {
  text-align: center;
  margin-top: 9.5rem; 
  padding: 1rem;
  background-color: #333;
  color: white;
}

footer p {
  margin: 0;
}
