* {
    margin: auto;
    padding: auto;
    box-sizing: border-box;
    font-family: poppins;
}

.gradientBg {
    background: linear-gradient(45deg, #012062, #4a085f);
}

.header {
    margin: auto;
    width: auto;
    height: 3rem;
    padding: 2rem;
    align-items: center;
    justify-content: center;
    display: flex;
    color: #fff;
    font-size: 2rem;
}

.container {
    margin: auto;
    width: 50%;
    min-width: 20rem;
    border-radius: 0.5rem;
    background-color: #fff;
}

.make-todolist {
    display: flex;
    margin: 2rem auto;
    height: 5rem;
    width: 50%;
    align-items: center;
    justify-content: center;
}

.add-tasks {
    width: 90%;
    padding: 0.3rem;
    height: 50%;
    min-height: 2rem;
}

.add-button {
    border-radius: 4px;
    background-color: orangered;
    border: none;
    color: #fff;
    text-align: center;
    font-size: 1rem;
    padding: 0.6rem;
    margin: 1rem;
    width: 5rem;
    transition: all 0.5s;
    cursor: pointer;
}

.add-button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.add-button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -2rem;
    transition: 0.5s;
}

.add-button:hover span {
    padding-right: 1.5rem;
}

.add-button:hover span:after {
    opacity: 1;
    right: 0;
}

.todo-content {
    display: flex;
    flex-direction: column; 
    width: 50%;
}

.todo-content input[type="checkbox"] {
    margin-right: 0.5rem;
}

.todo-content label {
    color: orangered; /* Or any other color you prefer for todo text */
}

.completed-task {
    display: flex;
    flex-direction: column; 
    width: 50%;
    padding-top: 10rem;
    padding-bottom: 10rem;
}

.completed-list li {
    text-decoration: line-through; 
    color: gray; 
}

.completed-list .delete {
    display: none; 
}

.title {
    font-size: 1.5rem;
    border-bottom: 0.1rem black solid; 
    width: auto; 
    font-weight: 500;
    text-transform: uppercase;
    margin-left: 0;
}

.todo-list .delete {
    background-color: #f44336; 
    color: #fff; 
    border: none;
    border-radius: 4px;
    padding: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: auto; /* Move delete button to rightmost side */
}

.todo-list .delete:hover {
    background-color: #d32f2f; /* Darker shade of red */
}

ul {
    margin: 0;
    padding: 0;
}

footer {
    text-align: center;
    margin-top: 12rem; 
    padding: 1rem;
    background-color: #333;
    color: white;
}

footer p {
    margin: 0;
}

@media only screen and (max-width: 768px) {
    .container {
        width: 95%;
        min-width: unset;
    }

    .make-todolist {
        width: 90%;
    }

    .todo-content,
    .completed-task {
        width: 90%;
    }
}
